@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Teléfono:</abbr>
    (809) 686-0021
</address>

<address>
    <strong>email:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Página principal:</strong> <a href="https://unapec.edu.do/">Unapec</a>
</address>